<a href="https://colab.research.google.com/github/TahlonBrahic/Tea-Production-Data-Science/blob/main/Tea_Production_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import pandas as pd
import matplotlib.pyplot as plt

# Data Merging

In [98]:
tea_production = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_crops_processed_production_quantity.csv')
tea_production.set_index('Country', inplace=True)
countries = tea_production.index.to_list()
tea_production_tidy = pd.melt(tea_production, var_name='Year', value_name='Tea production', ignore_index=False)

tea_import = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_import.csv')
tea_import.set_index('Country', inplace=True)
tea_import = tea_import.loc[countries]
tea_import_years = tea_import.columns[20:-1].to_list()
tea_import_years_processed = tea_import[tea_import_years]
tea_import_tidy = pd.melt(tea_import_years_processed, var_name='Year', value_name='Tea imported', ignore_index=False)

tea_export = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_export.csv')
tea_export.set_index('Country', inplace=True)
tea_export = tea_export.loc[countries]
tea_export_years_processed = tea_export[tea_import_years]
tea_export_tidy = pd.melt(tea_export_years_processed, var_name='Year', value_name='Tea exported', ignore_index=False)

tea = tea_production_tidy.copy()
tea['Tea imported'] = tea_import_tidy['Tea imported'].to_list()
tea['Tea exported'] = tea_export_tidy['Tea exported'].to_list()
tea

                             Year  Tea production  Tea imported  Tea exported
Country
Argentina                    2010         92416.9        298.00      85695.00
Bangladesh                   2010         60000.0       2863.00       1981.00
Burundi                      2010          6740.0          1.00       7769.00
China                        2010       1450000.0      56442.00     307777.00
China, mainland              2010       1450000.0      12665.00     302525.00
...                           ...             ...           ...           ...
Türkiye                      2020        283500.0      21876.02       4918.36
Uganda                       2020         75692.0         84.74      72454.47
United Republic of Tanzania  2020         28715.0        138.09      24095.56
Viet Nam                     2020        243100.0       5903.47     126448.69
Zimbabwe                     2020         15000.0        159.19      12137.90

[242 rows x 4 columns]

# Data Wrangling

In [ ]:
imp = IterativeImputer(max_iter=10, random_state=0)

# Exploratory Data Analysis

In [ ]:
pass