<a href="https://colab.research.google.com/github/TahlonBrahic/Tea-Production-Data-Science/blob/main/Tea_Production_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Wrangling

In [42]:
tea_production = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_crops_processed_production_quantity.csv')
tea_production.set_index('Country', inplace=True)
sample_countries = tea_production.index

tea_import = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_import.csv')
tea_import.set_index('Country', inplace=True)
tea_import_years = tea_import.columns
tea_import_years_processed = tea_import_years[20:-1] # adjusts the year range to be the same as the tea production data set
tea_import_years_processed = tea_import_years_processed.tolist()
dict_comp = { country:tea_import_years_processed for country in sample_countries }
multi_index = pd.DataFrame.from_dict(dict_comp)
# pd.MultiIndex.from_frame(sample_countries, tea_import_columns_processed)

tea_export = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_export.csv')
tea_export.set_index('Country', inplace=True)


# tea_production_import = pd.merge(tea_production, tea_import, on='Country')
# tea_production_import
multi_index

,Argentina,Bangladesh,Burundi,China,"China, mainland",India,Indonesia,Iran (Islamic Republic of),Japan,Kenya,...,Myanmar,Nepal,Rwanda,Sri Lanka,Thailand,Türkiye,Uganda,United Republic of Tanzania,Viet Nam,Zimbabwe
0,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,...,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010
1,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,...,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011
2,2012,2012,2012,2012,2012,2012,2012,2012,2012,2012,...,2012,2012,2012,2012,2012,2012,2012,2012,2012,2012
3,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,...,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013
4,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,...,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014
5,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,...,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
6,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,...,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016
7,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017,...,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017
8,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
9,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
10,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020

# Exploratory Data Analysis

In [1]:
pass