<a href="https://colab.research.google.com/github/TahlonBrahic/Tea-Production-Data-Science/blob/main/Tea_Production_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Wrangling

In [25]:
tea_production = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_crops_processed_production_quantity.csv')
tea_production.set_index('Country', inplace=True)
sample_countries = tea_production.index

tea_import = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_import.csv')
tea_import.set_index('Country', inplace=True)
tea_import_years = tea_import.columns
tea_import_years_processed = tea_import_years[20:-1] # adjusts the year range to be the same as the tea production data set
multi_index = pd.DataFrame(sample_countries)
# pd.MultiIndex.from_frame(sample_countries, tea_import_columns_processed)

tea_export = pd.read_csv('https://raw.githubusercontent.com/TahlonBrahic/Tea-Production-Data-Science/main/DATA/Tea_export.csv')
tea_export.set_index('Country', inplace=True)


# tea_production_import = pd.merge(tea_production, tea_import, on='Country')
# tea_production_import
multi_index

                        Country
0                     Argentina
1                    Bangladesh
2                       Burundi
3                         China
4               China, mainland
5                         India
6                     Indonesia
7    Iran (Islamic Republic of)
8                         Japan
9                         Kenya
10                       Malawi
11                   Mozambique
12                      Myanmar
13                        Nepal
14                       Rwanda
15                    Sri Lanka
16                     Thailand
17                      Türkiye
18                       Uganda
19  United Republic of Tanzania
20                     Viet Nam
21                     Zimbabwe

# Exploratory Data Analysis

In [1]:
pass